@import "utils";
@import "SelectStyle";

.errorBoundary{
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: 200;
  height: calc(100vh - $headerHeight);
}

.soloDisplay{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: calc(100vh - $headerHeight);
  background-color: $secondaryBackgroundColor;
  color: white;
  img{
    height: 400px;
    width: 400px;
    border-radius: 15px;
    box-shadow: $darkShadow;
  }
  .media{
    display: flex;
    justify-content: center;
  }
  .info{
    display: flex;
    flex-direction: column;
    .purchaseButton{
      width: 200px;
    }
  }
  
}