@import "utils";
@import "FilterHeader";

.galleryPage{
  min-height: calc(100vh - $headerHeight);
  background-color: $primaryBackgroundColor;
  padding: 8rem 16rem;

  .galleryContainer{
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .imgWrapper{
      display: flex;
      justify-content: center;
      margin-bottom: 8rem;
    }
    img{
      min-height: 250px;
      min-width: 250px;
      max-height: 250px;
      max-width: 250px;
      margin-right: 40px;
      border-radius: $primaryBorderRadius;
      box-shadow: $lightShadow;
      transition: .5s scale, .25s box-shadow;
    }
    img:hover{
      scale: 1.1;
      box-shadow: $darkShadow;
    }
  }
}