@import "utils";
@import "FilterHeader";

.galleryPage{
  min-height: calc(100vh - $headerHeight);
  background-color: $primaryBackgroundColor;
  padding: 8rem 16rem;

  .galleryContainer{
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .imgWrapper{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 8rem;
      max-width: 250px;
    }
    img{
      min-height: 250px;
      min-width: 250px;
      max-height: 250px;
      max-width: 250px;
      margin-right: 40px;
      border-radius: $primaryBorderRadius;
      box-shadow: $lightShadow;
      transition: .5s scale, .25s box-shadow;
    }
    img:hover{
      scale: 1.1;
      box-shadow: $darkShadow;
    }
    .flashInfo{
      
      .flashName{
        color: white;
        font-weight: 100;
        margin: 0;
      }
      .flashPrice{
        color: green;
        font-weight: 100;
        margin: 0;
      }
      .flashDescription{
        color: white;
        margin: 0;
        max-width: 100%;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 20px;
      }

    }
    .tags{
      padding: 4px 10px;
      background-color: purple;
      color: white;
      border-radius: 15px;
      margin-right: 5px;
    }
  }
}