@import "utils";

.header {
  height: 60px;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background: rgb(145,145,145);
  background: black;

  a {
    text-decoration: none;
    color: white;
    transition: .25s color, .5s scale;
  }

  a:hover {
    color: orange;
    scale: 1.1;
  }

  .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    
    a{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// linear-gradient(black 10%, #1e1e1e );