@import "utils";

.header {
  height: 60px;
  font-size: 1.3rem;
  display: flex;
  background: black;
  justify-content: space-around;
  align-items: center;
  color: white;

  a {
    text-decoration: none;
    color: white;
    transition: .25s color, .5s scale;
  }

  a:hover {
    color: orange;
    scale: 1.1;
  }
}

// linear-gradient(black 10%, #1e1e1e );