@import "utils";

.header {
  height: 60px;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background: rgb(145,145,145);
  background: black;

  a {
    text-decoration: none;
    color: white;
    transition: .25s color, .5s scale;
  }

  a:hover {
    color: orange;
    scale: 1.1;
  }

  .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    
    a{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .logoutButton{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100px;
    height: 2rem;
    border-radius: $primaryBorderRadius;
    background-color: $thirdBackgroundColor;
    transition: .25s scale;
    box-shadow: $lightShadow;
    border: none;
    cursor: pointer;

    &:hover {
      scale: 1.1;
    }
  }
}
