@import "utils";

.homepage {
  height: calc(100vh - $headerHeight);
  background-color: $primaryBackgroundColor;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .mainFeed {
    height: 72vh;
    width: 33vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: scroll;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 100px 100px;
    position: absolute;
    top: $headerHeight;
  }

  .card {
    height: 7 00px;
    width: 400px;
    background-color: black;
    border: 1px solid white;
    border-radius: $primaryBorderRadius;
    margin-bottom: 18rem;

    &:last-child {
      margin-bottom: 0rem;
    }

    .media {
      img {
        height: 400px;
        width: 100%;
        border-radius: $primaryBorderRadius $primaryBorderRadius 0 0;
      }
    }

    .price {
      color: green;
    }

    .desc {
      display: grid;
      grid-template-rows: 20px 160px 90px;
      row-gap: 10px;
      height: 300px;
      padding: 10px;
    }

    svg {
      transition: .25s color, .5s scale;
    }

    .icons {
      margin: 20px 10px 0 0;
    }

    svg:hover {
      color: orange;
      scale: 1.1;
    }
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: black;
  }

  ::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: darkorange;
  }
}

.navbar {
  height: calc(100vh - $headerHeight);
  background-color: $primaryBackgroundColor;
  border-right: 1px solid black;

  ul {
    list-style: none;

    li {
      font-weight: 100;
      font-size: 1.5rem;
      color: white;
    }
  }
}