@import "utils";

.homepage {
  min-height: calc(100vh - $headerHeight - 8rem);
  background-color: $primaryBackgroundColor;
  
  width: 100%;
  padding: 4rem 0;
  overflow: visible;

  .mainFeed{
    display: grid;
    row-gap: 3rem;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
  }
  .title{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    transition: .25s color;
  }
  .title:hover{
    color: orange;
  }
  .collectionWrapper{
    width: 1300px;
    .icons{
      margin-left: 5px;
      transition: .25s color;
    }
    .icons:hover{
      color: orange;
    }
    .titleWrapper{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .imgGallery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 15px 0  0 15px;
    
    .imgWrapper{
      display: flex;
      justify-content: center;
    }
    img{
      height: 200px;
      width: 200px;
      margin-right: 40px;
      border-radius: $primaryBorderRadius;
      box-shadow: $lightShadow;
    }
  }
}

.navbar {
  height: calc(100vh - $headerHeight);
  background-color: $primaryBackgroundColor;
  border-right: 1px solid black;

  ul {
    list-style: none;

    li {
      font-weight: 100;
      font-size: 1.5rem;
      color: white;
    }
  }
}