@import "utils";

.topSection {
  background-color: $primaryBackgroundColor;
  color: white !important;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 5rem;
  }

  p {
    font-size: 2rem;
  }

  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100px;
    height: 2rem;
    border-radius: $primaryBorderRadius;
    background-color: $thirdBackgroundColor;
    transition: .25s scale;
    box-shadow: $lightShadow;

    &:hover {
      scale: 1.1;
    }
  }

  .loginField {
    width: 300px;
    display: flex;
    justify-content: space-around;
  }
}

.showcaseSection {
  background-color: whitesmoke;
  min-height: 80vh;

  .showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    .image {
      scale: .7;
    }

    .textbox {
      padding: 0px 15rem;
      font-size: 1.5rem;
    }
  }
}