@import "utils";

.card{
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  justify-items: center;
  .imgWrapper{
    img{
      animation: floating ease-in-out 3s infinite alternate;
      
    }
  }
  .formWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    .signupForm{
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      input{
        font-size: 16px;
        font-size: max(16px, 1em);
        font-family: inherit;
        padding: 0.25em 0.5em;
        background-color: #fff;
        border: none;
        border-radius: 15px;
        box-shadow: $lightShadow;
      }
      input:not(textarea) {
        line-height: 1;
        height: 2.25rem;
      }
    }
    .signupIcons{
      display: flex;
      justify-content: space-around;
      width: 100%;
      color: white;
      *{
        transition: .25s all;
        cursor: pointer;
      }
      *:hover{
        scale: 1.1;
      }
    }
    .button{
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      width: 100px;
      height: 2rem;
      border-radius: $primaryBorderRadius;
      background-color: $thirdBackgroundColor;
      transition: .25s scale;
      box-shadow: $lightShadow;
      border: none;
      cursor: pointer;
    &:hover {
      scale: 1.1;
    }
    }
  }
}

.page{
  height: calc(100vh - $headerHeight);
  background-color: $primaryBackgroundColor;
}

@keyframes floating{
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-10%);
  }
}
