@import "utils";

.profilePage {
}

.profileLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40vh 1fr;
  .topSection {
    background-color: black;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    .profilePicture {
      max-height: 200px;
      max-width: 200px;
      border: 6px solid black;
      border-radius: 50%;
      background-color: black;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
      #profilePictureOverlay{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        top: 0;
        color: transparent;
        transition: .25s background-color, .25s color;
        cursor: pointer;
      }
      #profilePictureOverlay:hover{
        background-color: rgba(0,0,0,.6);
        color: white
      }
    }
    .profileInfo{
      padding: 2rem;
      h1{
        font-weight: 300;
        font-size: 2rem;
      }
      h2{
        font-weight: 200;
      }
      p{
        
      }     
    }
    
  }
  .placeholder{
    background-color: black;
  }
  .bottomSection {
    color: black;
    padding: 5rem;
  
    .gallery{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 2rem;
    }
    img{
      height: 200px;
      width: 200px;
      border-radius: $primaryBorderRadius;
    }
  }
}